
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

    @font-face {
        font-family: 'Outfit', sans-serif;
        src: url("Outfit\Outfit-VariableFont_wght.ttf"); 
    }
/* * {
    box-sizing: border-box;
} */
*{  margin: 0;
    padding: 0;
   
}
    
body{
    background: #11224E;
    font-family: 'Outfit', sans-serif;
    color: white;
    font-weight: bold;
}
         
html{
    scroll-behavior: smooth;
}

.homepage_container{
    display: flex;
}

/* navigation bar */
nav{
    padding-top: 30px;
    padding-bottom: 30px;
    position: fixed;
    background: #F88125;
    width: 100%;
}
nav a {
    padding: 50px;
    text-decoration: none;
    color: #11224E;
}

.homepage_row2 {
    height: 120vh;   
    overflow: hidden;
    
}
.homepage_row2 img {
    width: 100%; 
    padding-bottom: 0px;
}
ul{
    list-style-type: none;
}
section li:nth-child(1){
    font-size: 150%;
    line-height: 80%;
}
section{
    margin-top: -25%;
    margin-left: 10%;
    font-size: 650%;
    position: flex;
}

.homepage_row3 li span{
    color: #F88125;
    text-shadow: 2px 2px 5px rgb(106, 103, 103);
    border: #11224E;
}
.socialmedia{
    /* background-color:white; */
    background-color: rgba(255, 255, 255, 0.25);
    height: 250px;
    width: 100px;
    position: fixed;
    margin-top: -35%;
    border-radius: 20px;
    /* position: absolute; */
    right: 0;
}

aside img{
    padding: 10px;
    padding: 20px 10px 0px 20px;
    height: 50px;
    
}

.about{
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
    gap: 2%;
    flex-wrap: wrap;

}
.picture2{
    width: 40%;
    min-width: 400px;
    height: 700px;
    flex-shrink: 0;
    border-radius: 30px;
    overflow: hidden;
}
.picture2 img{
    max-width: 100%;
    height: auto;
}
.aboutHeading p:nth-child(1){
    font-size: 30px;
    font-weight: 400;
    padding: 10px 20px;
}
.aboutHeading p:nth-child(2){
    color: #5C83C4;
    font-size: 30px;
    font-weight: 600;
    line-height: normal;
    padding: 10px 20px;
}
.homepage_row4 header {
    margin-top: 5%;    
}

.homepage_row4 header h1{
    overflow: hidden;
    color: #FFF;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
}
.homepage_row4 h2{
    color: white;
    font-size: 50px;
    font-family: Outfit;
    font-weight: 400;
    text-transform: uppercase;
    word-wrap: break-word;
    text-align: center;
}
.picture2_desc{
    width: 40%;
    min-width: 400px;
    border-radius: 30px;
    background: #FB9B51;
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
}

.picture2_desc .description p{
    padding: 20px;
}

.picture2_desc button {
    background-color: #2C599D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none; 
    font-size: 16px;
    border-radius: 20px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    float: right;
}


/* Hobbies page */
.hobbies_container{
    display: flex;
    /* margin-top: 100px; */
}
.title{
    height: 100vh;
    overflow: hidden;
}
.hobbies_row1 p {
    font-size: 100px;
    font-weight: 400; 
    text-align: center; 
    padding-top: 15%;
}
.hobbies_row2 p{
    font-size: 100px;
    font-weight: 700;
    text-align: center; 
}
.hobbies_row2 span{
    color: #F88125;
    font-size: 100px;
    font-weight: 700;
}

.hobbies_row3 img{
    height: 400px;
    margin-top: 1%;
    margin-left: 5%;   
}

/* project area  */

.project-title{
    margin-left: 5%;
}

.project-title header{
    font-size: 50px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
}

.project-title p{
    font-size: 40px;
    font-weight: 400;
    line-height: 150%;
    text-transform: capitalize;
}

.project-container{
    display: flex;
    background-color: #F88125;
    padding: 10px;
    width: 75%;
    margin: auto;
}
.project-desc{
    margin: 100px auto 50px;
    width: 20%;
}
.project-container{
    border-radius: 20px; 
}
.project-pictures{
    width: 70%;
    
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px,1fr));
    /*To make the website responsive. When the webpage is minimzed, it will go up to 250px and then the item will jump to the next row*/
    grid-gap:30px;   
}

.project-pictures img{
    width: 100%;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 4px 7px 7px 0px #00000036;
    transition: 400ms;
    overflow: hidden;    
}

/* Gallery */
.gallery-pictures{
    width: 70%;
    
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px,1fr));
    /*To make the website responsive. When the webpage is minimzed, it will go up to 250px and then the item will jump to the next row*/
    grid-gap:30px;   
}

.gallery-pictures img{
    width: 100%;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 4px 7px 7px 0px #00000036;
    transition: 400ms;
    overflow: hidden;    
}

/* Write section */

.write-container .intro {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2%;
    flex-wrap: wrap;
}

.write-container .intro .intro-item {
    width: 40%;
    min-width: 400px;
}

.write-container .intro .text .heading{
    margin: 20vh 0;
    font-size: 50px; 
    font-weight: 700; 
    text-transform: uppercase; 
}

.write-container .intro .text .heading span:nth-child(1){
    color: white; 
}

.write-container .intro .text .heading span:nth-child(2){
    color: #F88125; 
}

.write-container .intro img.intro-item {
    height: auto;
} 

/* Blog section */

.blogs {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2%;
    flex-wrap: wrap;
}

.blogs .blog-item {
    width: 40%;
    min-width: 400px;
    background: #5C83C4;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    flex-wrap: wrap;
    align-content: center;
}

.blogs .blog-item img{
    width: 50%; 
    height: auto;
    display: block;
}

.blogs .blog-item button {
    background-color: #FB9B51;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none; 
    font-size: 16px;
    border-radius: 20px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    float: right;
}

/* Design container */

.design-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2%;
    flex-wrap: wrap;
}

.design-container .design-item {
    width: 40%;
    min-width: 400px;
}

.design-container .design-item img{
    width: 100%; 
    height: auto;
    display: block;
}

.design-container .design-item .text{
    margin-top: 56px;
}

.design-container .design-item .heading{
    margin: 12vh 0;
    font-size: 50px; 
    font-weight: 700; 
    text-transform: uppercase; 
}

.design-container .design-item .heading span:nth-child(1){
    color: white; 
}

.design-container .design-item .heading span:nth-child(2){
    color: #F88125; 
}

.design-container .design-item .description p:nth-child(1){
    font-weight: 700; 
}

.design-container .design-item .description p{
    margin: 2vh;
}

/* Contact page */
.contact-container {
    position: relative;
    top: 133px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2%;
    flex-wrap: wrap;
}

.contact-container * {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

.contact-container .contact-item {
    width: 40%;
    min-width: 400px;
}

.contact-container .left-panel {
    /* background-color: #5C83C4;
    border-radius: 30px;
    margin: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



.contact-container .left-panel img{
    width: 60%; 
    height: auto;
    display: block;
}

.contact-container .left-panel .register-container {
    background-color: #FB9B51;
    border-radius: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20vh;
    padding: 5vh 2vw;
}

.contact-container .left-panel .register-container p{
    font-size: 20px; 
    font-weight: 500; 
    text-transform: uppercase; 
    /* margin: 0 60px */
}

.contact-container .left-panel .register-container input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;

}

.contact-container .left-panel .register-container input[type="submit"] {
    background-color: #2C599D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none; 
    font-size: 16px;
    border-radius: 20px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 600;
}

.contact-container .left-panel .register-container input[type="text"]:focus {
    outline: none;
    border-color: dodgerblue;
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.8);
}

.contact-container .right-panel {
    /* background-color: #5C83C4;
    border-radius: 30px;
    margin: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-container .right-panel p{
    font-size: 50px; 
    font-weight: 700; 
    text-transform: uppercase; 
}

.contact-container .right-panel p span:nth-child(1){
    color: white; 
}

.contact-container .right-panel p span:nth-child(2){
    color: #F88125; 
}

.contact-container .right-panel .form-container{
    background-color: #5C83C4;
    border-radius: 30px;
}

.contact-container .right-panel .form-container form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 70vh;
    align-content: center;
    gap: 5%;
    padding: 0 7vw;
    overflow: hidden;
}

.contact-container .right-panel .form-container form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.contact-container .right-panel .form-container form input[type="text"]:focus {
    outline: none;
    border-color: dodgerblue;
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.8);
}

.contact-container .right-panel .form-container form textarea {
    padding: 10px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    resize: none;
}

.contact-container .right-panel .form-container form textarea:focus {
    outline: none;
    border-color: dodgerblue;
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.8);
}

.contact-container .right-panel .form-container form input[type="submit"] {
    background-color: #F88125;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none; 
    font-size: 16px;
    border-radius: 20px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 600;
}